[mysqld]
port 				= 3306
basedir 			= /usr/local/mysql 
datadir 			= /data01/mysql/8.0.22/data
max_connections 		= 1024
character-set-server 		= utf8mb4
default-storage-engine 		= INNODB
server_id 			= 166
socket 				= /data01/mysql/8.0.22/mysql.sock
pid-file 			= /data01/mysql/8.0.22/mysql.pid
slow_query_log 			= 1
slow_query_log_file 		= /data01/mysql/8.0.22/logs/slows.log
long_query_time 		= 10
log-error 			= /data01/mysql/8.0.22/logs/errors.log
user 				= mysql 
default_authentication_plugin 	= mysql_native_password

# 每次事务 redo log 都直接持久化到磁盘，保证异常重启数据不丢失
innodb_flush_log_at_trx_commit	= 1
# redo log 组里有4个文件
innodb_log_files_in_group	= 4 
# redo 组里文件大小 1 G
innodb_log_file_size		= 1G
innodb_log_group_home_dir       = /data01/mysql/8.0.22/logs


# 每次事务 bin log 都直接持久化到磁盘，保证异常重启 binglog 不丢失。
#（用binlog做主从复制或服务器崩溃后数据恢复，不丢失数据）
sync_binlog			= 1
log-bin 			= /data01/mysql/8.0.22/logs/binlog-apollo
 
 
[mysql]
default-character-set 		= utf8mb4
 
[client]
port 				= 3306
socket 				= /data01/mysql/8.0.22/mysql.sock
default-character-set 		= utf8mb4
